.home{background-color: #ddd; border: 2px solid #ddd;}

.home .category{display: flex; flex-wrap: wrap;justify-content: space-around;padding: 5px;
background-color: white;margin:20px 10px 30px;border-radius: 10px;}

.home .category>*{width: 21%;margin: 5px;display: flex;flex-direction: column;
    justify-content: center;padding: 5px;position: relative;}

.home .category>div:hover{box-shadow: 0 0 20px #ccc;cursor: pointer;border-radius: 5px;}
.home .category>div:hover button{height: 35px!important;transition: all .4s ease-in-out;
                color: white!important;}
.home .category button:hover{background-color: rgb(15, 201, 15);}
.home {font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.home .category .image-box{position:relative;margin:-5px -5px 0px;height: 310px;}
.home .category img{ width: 100%;border-radius: 5px;height: 100%;}
.home .category .add-to-cart{position:absolute;bottom:0;width:100%;border: none;left: 0;
            cursor: pointer;background-color:green;color: transparent;height: 0px;
            font-family:cursive;z-index: 1;}
.home .category .brand{font-weight: bold;font-size: 16px;}
.home .category .title{font-size: 14px;}
.home .category .price{font-weight: bold;font-size: 13.5px;color: maroon;}
.home .category #linkDiv{width: 100%;position: absolute;top: 0;height: 100%;
left: 0;z-index: 0;}
